<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lazycoder21.droid.pull_requests">

    <application>
        <activity
            android:name=".presentation.PullRequestActivity"
            android:exported="true" />
    </application>

</manifest>